:host {
  --item-width: 10em;
  --item-height: 2.5em;
  --skew-degree-x: 20deg;
  --skew-degree-y: 5deg;
  --background-color: #000;
  --color: #838383;
  --hover-background-color: var(--selectedColor);
  --hover-color: white;
  --shadow-x: 1.5em;
  --shadow-y: 1em;
  --selectedColor: rgb(29, 202, 255);
  --position: absolute;
}

ul {
  position: var(--position);
  margin: 0;
  padding: 0px;
  list-style: none;
  z-index: 99;
}

.listItem {
  margin-top: 10px;
  padding: 5px 10px;
  background: var(--background-color);
  color: var(--color);
  text-align: center;
  height: var(--item-height);
  width: var(--item-width);
  line-height: 2.5em;
  border-bottom: 1px solid #060606;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  box-shadow: var(--shadow-x) var(--shadow-y) 0 #e1e1e150;
  transition: all .20s linear;
  cursor: pointer;

  &:hover {
    background: var(--hover-background-color);
    color: var(--hover-color);
    transform: translate(.9em, 0em);
    transition: all .25s linear;
    box-shadow: -1.5em 1em 0 #e1e1e150;
  }
}

svg {
  margin: 10px 10px;
}

.selected {
  color: var(--selectedColor);
  transform: translate(.9em, -.19em);
}

.selected:hover {
  color: var(--hover-color);
}

// Animations

.loop {
  background: var(--hover-background-color);
  color: var(--hover-color);
  transform: translate(.9em, -.9em);
  transition: all .25s linear;
  box-shadow: -2em 2em 0 #e1e1e1;
  animation: turner .4s infinite linear;
}

@keyframes turner{
    from{  transform: rotateY(0deg)   }
    to  {  transform: rotateY(360deg) }
}